.item-card {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;

  &:hover {
    opacity: 0.6;
  }

  &__disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &__name {
    font-weight: 500;
  }

  &__DECK_MATERIAL.MuiPaper-root.MuiCard-root &__type {
    color: red;
  }
  &__FENCING_AND_PRIVACY.MuiPaper-root.MuiCard-root &__type {
    color: purple;
  }
  &__GROUND_COVER.MuiPaper-root.MuiCard-root &__type {
    color: green;
  }
  &__LIGHTING.MuiPaper-root.MuiCard-root &__type {
    color: orange;
  }
  &__STRUCTURES.MuiPaper-root.MuiCard-root &__type {
    color: blue;
  }
  &__WATER_FEATURES.MuiPaper-root.MuiCard-root &__type {
    color: indigo;
  }
}
