.item-card {
  cursor: default;
  margin: 0.5rem;
  padding: 0.5rem;

  &:hover {
    opacity: 0.6;
  }

  &.disabled {
    opacity: 0.2;
  }
  &:not(.disabled) {
    cursor: pointer;
  }

  &__contain.MuiGrid-root {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: column;
    }
  }

  &__price-range.MuiGrid-root {
    width: auto;
  }

  &__name {
    font-weight: 500;
  }

  &__DECK_MATERIAL.MuiPaper-root.MuiCard-root &__type {
    color: red;
  }
  &__FENCING_AND_PRIVACY.MuiPaper-root.MuiCard-root &__type {
    color: purple;
  }
  &__GROUND_COVER.MuiPaper-root.MuiCard-root &__type {
    color: green;
  }
  &__LIGHTING.MuiPaper-root.MuiCard-root &__type {
    color: orange;
  }
  &__STRUCTURES.MuiPaper-root.MuiCard-root &__type {
    color: blue;
  }
  &__WATER_FEATURES.MuiPaper-root.MuiCard-root &__type {
    color: indigo;
  }
}
